# Include the readme file
include README.rst
include tox.ini

recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile
recursive-include tests *.py
recursive-include tests *.rst
recursive-include tests *.txt

exclude mlx/__version__.py

recursive-exclude doc/_build *
